/* stile dell'header */
header {
    background-color: #4ea0ff;
    background-image: url(https://github.com/Emmanuele-Iannucci/html-css-booleaner/blob/64a54bf7f30462fb1ffea0a298889eea196c90d6/booleaner_img/img/pattern.png);
    background-size: 29%;
}